.homeContainer {
    display: flex;
    flex-direction: row;
}


.mainContent {
    flex: 0 0 70%;
}

.notifications {
    flex: 0 0 30%;
}

.Row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(245, 245, 245);
    border: 1px solid #eee;
    padding: 20px;
    border-radius: 20px;
}

.card {
    width: 150px;
    border-radius: 20px;
    border: 1px solid #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: white;
}

.cardTitle {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    display: block;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.cardImg {
    width: 100px;
    height: 100px;
    background-image: url("avatar.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.carImg {
    width: 100px;
    height: 100px;
    background-image: url("car.jpg");
    background-position: center;
    background-size: 80px ;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.usersTitle {
    font-weight: bold;
    margin-bottom: 20px;
}


.carsTitle {
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

.carTitle {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

.carStatus {
    font-weight: bold;
    font-size: 12px;
    color: rgb(148, 148, 148);
}

.notifications_wrapper {
    width: 90%;
    min-height: 200px;
    border-radius: 20px;
    border: 1px solid #eee;
    margin: 0 auto;
    padding: 0.6em;
}

.notifications_wrapper h4 {
    font-weight: bold;
}

.inside {
    color: chartreuse;
}

.outside {
    color: red;
}

.notification {
    font-size: 14px;
    padding: 1em;
    border: 1px solid #eee;
    border-radius: 20px;
    margin-bottom: 0.5em;
}

.notification__time {
    color: rgb(90, 90, 90);
    font-size: 10px;
}

.notification__content span,
 .notification__user span,
 .notification__time span {
    font-weight: bold;
    color: black;
}